service cloud.firestore {
  match /databases/{database}/documents {
    // Len prihlásený užívateľ môže čítať/zapisovať svoje dáta
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    // Verejné čítanie kolekcie 'projects', zápis len admin
    match /projects/{projectId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}
